.App {
    text-align: center;
    background-color: #1C1C1C;;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);   
}

.box {
    width: 600px;
    height: 900px;
    background-color: #23252C;
    justify-content: center;
    align-items: center;
    display: block;
}

.card-name{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 30px;
    padding-top: 30px;
    font-family: sans-serif;
    color: #FFFFFF;
}

.card-occupation {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 300;
    padding-top: 5px;
    font-family: sans-serif;
    color: #F3BF99;

}

.card-website {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 300;
    padding-top: 5px;
    font-family: sans-serif;
    color: #FFFFFF;
}

.card-email {
    height: 40px;
    width: 125px;
    background-color: #FFFFFF;
    margin-top: 0px;
    margin-left: 40px;
    border-radius: 6px;
    font-size: 20px;
    padding-top: 7px;
}

.card-linkedin {
    height: 40px;
    width: 125px;
    background-color: #5093E2;
    margin-top: 0px;
    margin-left: 20px;
    border-radius: 6px;
    font-size: 20px;
    color: #FFFFFF;
    padding-top: 7px;
}

.card-container {
    display: flex;
    margin-top: 20px;
}

.card-about {
    color: #FFFFFF;
    font-size: 20px;
    justify-content: left;
    font-weight: 600;
    width: 0px;
    margin-left:38px;
    margin-top: 10px;
}

.about-text {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 100;
    margin-left: 40px;
    margin-top: 5px;
    max-width: 280px;
    text-align: left;
    
}

.interests-text {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 100;
    margin-left: 40px;
    margin-top: 5px;
    max-width: 280px;
    text-align: left;

}

.card-interests {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    width: 0px;
    margin-left:38px;
    /* margin-top: 130px; */
}

.content {
    margin-left: 50px;
}
 
.description-box {
    background-color: #1A1B21;
    height: 475px;
    width: 350px;
    margin-left: 75px;

}

.image {
    margin-top:  50px;
    margin-left: 75px;
    width: 350px;
    height: 300px;
    border-radius: 10px 10px 0 0;
    display: block;
}

.media-footer {
    width: 350px;
    height: 40px;
    background-color: #161619;
    border-radius: 0 0 10px 10px;
    margin-left: 75px;
}

